<div class="predictor-nav-bar">
  <h2>Predictor Options</h2>
  <div class="row">
    <%= form_tag predictor_path, method: "get" do %>
      <div class="predictor-options">
        <span class="predictor-option"><%= label_tag "City" %></span>
        <%= collection_select :event, :city_id, @cities, :id, :name %>
      </div>
    <% end %>
  </div>
  <hr>
  <h2>Events</h2>
  <div class="events">
    <% @events.each do |event| %>
      <a href="">
        <div id="event-item" class="predictor-event">
          <h4><%= event.title %></h4>
          <p><%= event.time_range %></p>
          <p><%= event.venue_name %></p>
        </div>
        <div class="chevron-pointer">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
    <% end %>
  </div>
</div>
<div id='map'></div>
