<div id="spinning-wheel" class="spinning-wheel">
  <%= image_tag "ajax-loader-copy.gif" %>
</div>
<div class="predictor-nav-bar">
  <h2>Predictor Options</h2>
  <div class="row">
    <%= form_tag predictor_path, method: "get" do %>
      <div class="row predictor-options">
        <span class="predictor-option"><%= label_tag "City" %>
        <%= collection_select :event, :city_id, @cities, :id, :name %></span><br>
        <span class="predictor-option"><%= label_tag "Categories" %>
        <%= select :event, :category_id, @categories %></span><br>
        <span class="predictor-option"><%= label_tag "Uber Product" %>
        <%= select :event, :product_type, @uber_products %></span><br>
      </div>
    <% end %>
  </div>
  <hr>
  <h2>Events</h2>
  <h6>(sorted by popularity)</h6>
  <div class="events">
  </div>
</div>
<div id='map'></div>

<div id="menu" class="menu">
  <h5>
    Current Uber ETA Time
  </h5>
  <div id="neighborhood">Hover over a neighborhood</div>
  <div id="minutes"></div>
</div>

<div id="state-legend" class="legend">
  <h5>Wait Times</h5>
  <div><span style="background-color: #ffffb2"></span>0 - 5</div>
  <div><span style="background-color: #fed976"></span>5 - 10</div>
  <div><span style="background-color: #feb24c"></span>10 - 15</div>
  <div><span style="background-color: #fd8d3c"></span>15 - 20</div>
  <div><span style="background-color: #fc4e2a"></span>20 - 25</div>
  <div><span style="background-color: #e31a1c"></span>25 - 30</div>
  <div><span style="background-color: #b10026"></span>30+</div>
</div>
