<div class="col-md-12">
  <div class="row profile-image-row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="profile-image-box">
        <%= image_tag @user.image_url, class: "img-circle img-thumbnail profile-image" %>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 info-box">
    </div>
    <div class="col-md-6 info-box user-info-box">
      <h3><strong><%= @user.full_name %></strong></h3>
      <p><%= @user.email %></p>
      <p><strong>Promo Code:</strong> &nbsp<%= @user.promo_code %></p>
      <p><strong>Member Since:</strong> &nbsp<%= @user.formatted_created_at %>
  </div>
  <div class="col-md-3 info-box">
  </div>
</div>
</div>
