<div class="col-md-12">
  <div class="row image-row">
    <%= image_tag "uber_driver_cropped.jpg" %>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 image-caption">
        <div class="caption-title">
          <h1>Welcome to RiderDemand</h1>
          <hr>
          <h2>We Help Uber Drivers Find More Rides</h2>
        </div>
        <div class="caption-subtitle">
          <h3>with our innovative tools you can spend less time checking your phone and more time getting rides</h3>
        </div>
        <% if current_user.nil? %>
          <%= link_to "Test Drive App", test_drive_path, class: "btn btn-lg btn-success" %>
          <%= link_to "Login with Uber", "/auth/uber", class: "btn btn-lg btn-uber" %>
        <% end %>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
<%= render "info_boxes" %>
<div class="col-md-2">
  <div class="info-box event-filter-description description">
    <h5>Filter events by city, category and date</h5>
  </div>
  <div class="info-box uber-filter-description description">
    <h5>Filter ETA times by uber products</h5>
  </div>
  <div class="info-box events-description description">
    <h5>See all of the events happening near you</h5>
  </div>
</div>
<div class="col-md-8">
  <div class="demo-image">
    <%= image_tag "demo-image.png" %>
  </div>
</div>
<div class="col-md-2">
  <div class="info-box eta-description description">
    <h5>Hover over a neighborhood to see the ETA time</h5>
  </div>
  <div class="info-box eta-description description">
    <h5>The neighborhoods are colored based on their ETA time</h5>
  </div>
  <div class="info-box color-map-description description">
    <h5>The longer the ETA the hotter the neighborhood</h5>
  </div>
</div>
<%= render "shared/footer" %>
