<div class="col-md-12">
  <div class="row image-row">
    <%= image_tag "uber_driver_cropped.jpg" %>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 image-caption">
        <div class="caption-title">
          <h1>GET MORE RIDES</h1>
        </div>
        <div class="caption-subtitle">
          <h3>with our innovative tools you can spend less time checking your phone and more time getting rides</h3>
        </div>
        <% if current_user.nil? %>
          <%= link_to "Test Drive the App", test_drive_path, class: "btn btn-lg btn-success" %>
          <%= link_to "Login with Uber", "/auth/uber", class: "btn btn-lg btn-uber" %>
        <% end %>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
<%= render "info_boxes" %>
<div class="col-md-2">
</div>
<div class="col-md-8">
  <div class="demo-image">
    <%= image_tag "demo-image.png" %>
  </div>
</div>
<div class="col-md-2">
</div>
<%= render "shared/footer" %>
