<!DOCTYPE html>
<html>
  <head>
    <title>RiderDemand</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-no-turbolink>
    <div class="container flash-container" id="flash-container">
      <%= bootstrap_flash %>
    </div>
    <%= render "shared/navbar" %>

    <%= yield %>

  </body>
</html>
