<!DOCTYPE html>
<html>
  <head>
    <title>RiderDemand</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
      </script>
      <script type="text/javascript">
        function initialize() {
          var mapOptions = {
center: { lat: 39.739, lng: -104.990},
        zoom: 12
          };
          var map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
        }
google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </head>
  <body>
    <%= bootstrap_flash %>
    <%= render "shared/navbar" %>

    <%= yield %>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  </body>
</html>
